alembic==1.14.0
bcrypt==4.1.3
blinker==1.8.2
click==8.1.7
dnspython==2.6.1
email-validator==2.1.1
et-xmlfile==2.0.0
flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
flask-marshmallow==1.3.0
Flask-Migrate==4.0.7
flask-sqlacodegen==2.0.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.0.3
gunicorn==23.0.0
idna==3.7
importlib-metadata==7.1.0
inflect==7.3.1
itsdangerous==2.2.0
jinja2==3.1.4
json-server==0.1.3
Mako==1.3.6
MarkupSafe==2.1.5
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
more-itertools==10.3.0
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==10.3.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
SQLAlchemy==2.0.31
typeguard==4.3.0
typing-extensions==4.12.2
tzdata==2025.1
werkzeug==3.0.3
wtforms==3.1.2
zipp==3.19.2
