{% extends "layout.html" %}
{% block content %}

    <label for="device">Choose a device to add
    </label><br><br>

    <div class="form">
        <form action="{{ url_for('add_device', site_id=site_id ) }}" method="POST">

        <table>
            <tr>
                <th>Device Type</th>
                <th>    </th>
                <th>Device Details</th>
                
            </tr>
            
            <tr>
                <br>
            </tr>
            <tr>
                    <td>

                                <input type="radio" name= radio_option value="Voyager 4G-2R switch">  Voyager 4G-2R switch</input><br><br>
                                <input type="radio" name= radio_option value="Voyager Voice Intercom with Keypad">  Voyager Voice Intercom with Keypad. </input><br><br>
                                <input type="radio" name= radio_option value="Voyager Voice Intercom No Keypad">  Voyager Voice Intercom No Keypad. </input><br><br>
                                <input type="radio" name= radio_option value="Voyager Voice 2 button Intercom">  Voyager Voice 2 button Intercom. </input><br><br>
                                <input type="radio" name= radio_option value="Voyager Voice 4 button Intercom">  Voyager Voice 4 button Intercom. </input><br><br>
                                <input type="radio" name= radio_option value="Voyager Voice Appartment Intercom">  Voyager Voice Appartment Intercom. </input><br><br><br>
                    
                    
                                <input type="submit" value="Add this device to the Site ">

                                
                    </td>
                    <td>
                    </td>

                    <td>
                        <label for="device">SIM Phone Number:
                        </label>
                        <input type="text" name="SIM_Phone_Number" size="25" placeholder="Enter this devices SIM Phone Number" /></br></br></br>
                        
                        <label for="device">Access Point name:
                        </label>
                        <input type="text" name="Local_Name" size="25" placeholder="Enter local name for this Access Point eg: front gate" /></br>
                    
                        <label for="device">Device Identifier:
                        </label>
                        <input type="text" name="Device_Identifier" size="25" placeholder="Enter device Identifier see device label" /></br>
                    
                    </td>

            </tr>
        </table>
                            </form>


                            
  
    
    <!--
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
 

 
<form method="post">
     <div class="col-sm-4 col-lg-4">
        <select title="thing" class="form-control" id="myselect" name="thing" required>
            <option value="" {% if thing==''%} selected {% endif %} ></option>
            <option value="Foo" name="Foo" id="Foo" {% if thing=='Foo'%} selected {% endif %} >Foo</option>
            <option value="Bar" name="Bar" id="Bar" {% if thing=='Bar'%} selected {% endif %} >Bar</option>
        </select>
    </div> 
</form>
<button type="submit">Add this device to the Site </button>
-->
{% endblock content %}
